<div class="container">
  <div class="form-wrapper flex --just-center --wrap">
    <form id="city-form" class="form --padding">
      <div class="city">
        <div class="form-title">Город вылета</div>
        <select name="departCity" class="input_style">
          <option value="10">Алматы</option>
          <option value="11">Астана</option>
        </select>
        <!-- <label for="city" class="select input_style">
          <input type="radio" id="bg-city" />
          <input type="radio" name="list" id="city" />
          <label for="bg-city" class="bg-city"></label>
          <div class="items">
            <input type="radio" name="list" id="city[0]" />
            <label for="city[0]">Алматы</label>
            <input type="radio" name="list" id="city[1]" />
            <label for="city[1]">Астана</label>
            <span id="text">Выберите город...</span>
          </div>
        </label> -->
      </div>
    </form>
    <form id="country-form" class="form --padding">
      <div class="country">
        <div class="form-title">Страна</div>
        <select name="country" class="input_style">
          <option value="552">Турция</option>
          <option value="553">Тайланд</option>
          <option value="554">Чехия</option>
        </select>
        <!-- <label for="country" class="select input_style">
          <input type="radio" name="list" id="bg-country" />
          <input type="radio" name="list" id="country" />
          <label for="bg-country" class="bg-country"></label>
          <div class="items">
            <input type="radio" name="list" id="country[0]" />
            <label for="country[0]">Турция</label>
            <input type="radio" name="list" id="country[1]" />
            <label for="country[1]">Тайланд</label>
            <input type="radio" name="list" id="country[2]" />
            <label for="country[2]">Чехия</label>
            <span id="text">Выберите страну...</span>
          </div>
        </label> -->
      </div>
    </form>
    <form id="date-picker" class="form --padding">
      <div class="form-title">Дата вылета</div>
      <label for="date-input">
        <input type="date" id="date-input" class="date-input input_style" />
      </label>
    </form>
    <form id="date-picker" class="form --padding">
      <div class="form-title">Кол-во ночей от</div>
      <label for="nights">
        <input type="text" id="nights" class="nights input_style" />
      </label>
    </form>
    <form id="date-picker" class="form --padding">
      <div class="form-title">Кол-во ночей до</div>
      <label for="nights-to">
        <input type="text" id="nights-to" class="nights-to input_style" />
      </label>
    </form>
  </div>
</div>
