.input_style {
  width: 195px;
  height: 34px;
  border: none;
  padding: 0 10px;

  font-weight: 600;

  border-radius: 4px;

  @include max(1440) {
    width: 180px;
  }

  @include max(1280) {
    width: 140px;
  }
  @include max(1024) {
    width: 120px;
    font-size: 15px;
  }
  @include max(992) {
    // width: 115px;
    width: 100px;
    font-size: 13px;
  }
  @include max(790) {
    width: 215px;
  }
  @include max(662) {
    font-size: 12px;
  }
  @include max(425) {
    width: 190px;
  }
  @include max(319) {
    width: 180px;
    font-size: 11px;
    height: 26px;
  }
}

.form {
  position: relative;
  top: -50px;
  padding: 20px 0px 5px;
  margin: 0 -10px;
  background: #06e6ee;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 5px 20px -2px rgb(4, 221, 236);

  @include max(768) {
    // margin: 0 auto;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // max-width: 280px;
  }
  @include max(425) {
    width: 220px;
  }

  @include max(424) {
    width: 100%;
  }
}

.form-title {
  color: #000;
  font-weight: 700;
  &_margin {
    margin: 0 0 10px 0;
    @include max(662) {
      margin: 0 0 5px 0;
    }
  }

  @include max(1024) {
    font-size: 15px;
  }
  @include max(992) {
    font-size: 13px;
  }
  @include max(662) {
    margin: 0 0 5px 0;
  }
  @include max(319) {
    font-size: 11px;
  }
}

.--margin-bottom {
  display: inline-block;
  margin: 0 0 25px;
  @include max(662) {
    margin: 0 0 15px 0;
  }
}

.date-input {
  border: none;
  padding: 0 0 0 10px;
}

.--padding {
  padding: 0 10px;
}

.form__btn {
  height: 62px;
  display: flex;

  @include max(992) {
    height: 58px;
  }
  @include max(662) {
    height: 52px;
  }
}

.btn {
  transition: color 0.3s ease-in-out, box-shadow 0.2s ease-in-out 0.1s,
    background-color 0.3s ease-in-out, padding 0.2s linear 0.1s;
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(1, 106, 138);
  }
  &:active {
    -webkit-box-shadow: 0px 5px 10px 2px rgb(1, 33, 58) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgb(1, 33, 58) inset;
    box-shadow: 0px 5px 10px 2px rgb(1, 33, 58) inset;
    padding: 5px 0 0 0;
  }
}

.nights-to,
.nights {
  &::placeholder {
    font-size: .75rem;
    margin: 0;
    color: #000;
  }

  #form-nights-to,
  #form-nights {
    position: relative;
  }
}

.error {
  color: red;
  outline: 2px solid red;
  &::placeholder {
    font-size: inherit;
  }
}


.form__date-picker {
  position: relative;
  outline: 0;
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: auto;
  position: absolute;
  width: auto;
  inset: 0;
}

