<div id="tours">
  <div class="container">
    <div class="tours__title tours__title_margin">
      <!-- <h2>
        Результаты запроса (<span class="tours__city-span"></span> -
        <span class="tours__country-span"></span>,
        <span class="tours__date-span"></span>,
        <span class="tours__nights-span"></span>-<span
          class="tours__nights-to-span"
        ></span
        >н.):
      </h2> -->
    </div>

    <table class="tour-table">
      <thead>
        <!-- <tr>
          <th>Hotel name</th>
          <th>price</th>
          <th>currency</th>
        </tr> -->
      </thead>
      <tbody id="tourTableBody">
        <!-- <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
